:root {
	--purple-primary: #6C63FF;
	--white-primary: #F7F7F7;
	--black-primary: #252525;
}

.purple-primary {
	color: var(--purple-primary);
}

.white-primary {
	color: var(--white-primary);
}

.black-primary {
	color: var(--black-primary);
}

/* Search bar */
.search-bar {
	border: 1px solid var(--purple-primary);
	border-right: none;
}

/* Search bar */

/* Search bar icon */
.search-bar-icon {
	border: 1px solid var(--purple-primary);
	border-left: none;
}

/* Remove any hover */
.search-bar-icon:hover {
	border: 1px solid var(--purple-primary);
	border-left: none;
}

/* Remove any focus and click */
.search-bar-icon:focus {
	border: 1px solid var(--purple-primary);
	border-left: none;
}

.search-bar-icon:active {
	border: 1px solid var(--purple-primary) !important;
	border-left: none !important;
}

/* Search bar icon */

.form-control:focus {
	border: 1px solid var(--purple-primary) !important;
	border-right: none !important;
	box-shadow: none !important;
}